#**Alphabet Soup Charity**

# **Step 1: Preprocess the Data**
---

In [1]:
# Delete the existing directory
!rm -rf alphabet_soup

# Clone the repository to a new directory
!git clone https://github.com/theidari/alphabet_soup.git

# Dependencies and setup
from alphabet_soup.src.package.constants import * # constants
from alphabet_soup.src.package.helpers import * # liberaries and functions

Cloning into 'alphabet_soup'...
remote: Enumerating objects: 87, done.
remote: Counting objects: 100% (87/87), done.
remote: Compressing objects: 100% (79/79), done.
remote: Total 87 (delta 56), reused 11 (delta 5), pack-reused 0
Unpacking objects: 100% (87/87), 24.68 KiB | 683.00 KiB/s, done.
☑ constants is imporetd
☑ helpers is imporetd

In [2]:
# Loading the data into a Pandas DataFrame
application_df = pd.read_csv(DATA_URL)

# Displaying the first few rows of the DataFrame
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
application_df.shape

(34299, 10)

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
type_counts = application_df['APPLICATION_TYPE'].value_counts()
type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_counts[type_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_not1= class_counts[class_counts > 1]
print(class_counts_not1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 778].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)
application_numeric

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [12]:
application_numeric.shape

(34299, 44)

In [13]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = application_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [18]:
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [19]:
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5683 - accuracy: 0.7233
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7282
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7297
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7311
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7322
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5486 - accuracy: 0.7323
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7318
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7329
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7334
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7321
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7343
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7329
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7331
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7349
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7354
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7358
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7353
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7352
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7357
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7364
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7356
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7368
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7361
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7359
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7368
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7375
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7374
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7372
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7385
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7369
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7379
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7359
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7373
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7371
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7382
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7376
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7376
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7375
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7379
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7378
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7382
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7383
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7376
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7381
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7386
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7394
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7383
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7380
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5396 - accuracy: 0.7380
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7387
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7386
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7381
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7388
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7393
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7391
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7389
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7396
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7383
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7393
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7393
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7382
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7388
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7388
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7391
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7393
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7381
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7390
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7386
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7397
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7389
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7395
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7393
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7395
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7397
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7395
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7398
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5373 - accuracy: 0.7392
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7391
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7396
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7393
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7391
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7393
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7394
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7396
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7405
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7392
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7397
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7396
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7393
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7393
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7390
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7397
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7397
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7402
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7396
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7396
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7394
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7401
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7400

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5592 - accuracy: 0.7285 - 529ms/epoch - 2ms/step
Loss: 0.5591607689857483, Accuracy: 0.7285131216049194

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE