<a href="https://colab.research.google.com/github/theidari/alphabet_soup/blob/main/src/AlphabetSoupCharity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Alphabet Soup Charity**

# **Step 1: Preprocess the Data**
---

In [1]:
# Delete the existing directory
!rm -rf alphabet_soup

# Clone the repository to a new directory
!git clone https://github.com/theidari/alphabet_soup.git

# Dependencies and setup
from alphabet_soup.src.package.constants import * # constants
from alphabet_soup.src.package.helpers import * # liberaries and functions

Cloning into 'alphabet_soup'...
remote: Enumerating objects: 189, done.
remote: Counting objects: 100% (189/189), done.
remote: Compressing objects: 100% (181/181), done.
remote: Total 189 (delta 132), reused 10 (delta 5), pack-reused 0
Receiving objects: 100% (189/189), 48.76 KiB | 4.43 MiB/s, done.
Resolving deltas: 100% (132/132), done.
☑ constants is imporetd
☑ helpers is imporetd

In [2]:
# Loading the data into a Pandas DataFrame
application_df = pd.read_csv(DATA_URL)

# Displaying the first few rows of the DataFrame
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# cutoff APPLICATION_TYPE value and create a list of application types to be replaced
binning (application_df,'APPLICATION_TYPE',500)

--------------------------------------------------------------------------------
 Value Count before binning:
--------------------------------------------------------------------------------
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64
--------------------------------------------------------------------------------
Value Count after binning:
--------------------------------------------------------------------------------
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# cutoff APPLICATION_TYPE value and create a list of application types to be replaced
binning (application_df,'CLASSIFICATION',800)

--------------------------------------------------------------------------------
 Value Count before binning:
--------------------------------------------------------------------------------
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64
--------------------------------------------------------------------------------
Value Count after binning:
--------------------------------------------------------------------------------
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [7]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)

In [8]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = application_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Set features
input_features = len(X_train_scaled[0])

#**Step 2: Compile, Train, and Evaluate the Model*
---

In [10]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer and Compile the model 
as_model=as_model_func([80,30],input_features,"relu")

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________
None

In [11]:
# Train the model
fit_model = as_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5719 - accuracy: 0.7207
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7297
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7306
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7319
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5504 - accuracy: 0.7311
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7328
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7323
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7332
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7329
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5465 - accuracy: 0.7325
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5466 - accuracy: 0.7336
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5455 - accuracy: 0.7341
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5454 - accuracy: 0.7336
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7350
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7346
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5452 - accuracy: 0.7346
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5445 - accuracy: 0.7352
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7349
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7354
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7355
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5436 - accuracy: 0.7369
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7351
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7355
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7342
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7365
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7354
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5422 - accuracy: 0.7364
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7365
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7368
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7360
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7369
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7365
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5413 - accuracy: 0.7366
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7384
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7361
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7370
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7366
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7378
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5406 - accuracy: 0.7369
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7378
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7372
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7379
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7374
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7381
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7379
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5398 - accuracy: 0.7388
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7377
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7390
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7390
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7381
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7385
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7390
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7383
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7381
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7387
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7383
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7392
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5387 - accuracy: 0.7377
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7388
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7384
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7390
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7389
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7393
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7390
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5384 - accuracy: 0.7393
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5380 - accuracy: 0.7395
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7390
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7395
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7396
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7381
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7389
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7391
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7393
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5368 - accuracy: 0.7385
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7386
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5372 - accuracy: 0.7401
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7384
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7386
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7390
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7397
Epoch 81/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5367 - accuracy: 0.7396
Epoch 82/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5371 - accuracy: 0.7390
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7390
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7397
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7395
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7389
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7401
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5367 - accuracy: 0.7392
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7391
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7396
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7390
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7397
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7401
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5363 - accuracy: 0.7392
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7395
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7405
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7396
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7394
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5361 - accuracy: 0.7397

In [12]:
# Evaluate the model using the test data
model_loss, model_accuracy = as_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5610 - accuracy: 0.7291 - 564ms/epoch - 2ms/step
Loss: 0.5609614253044128, Accuracy: 0.7290962338447571

In [13]:
# Export our model to HDF5 file
as_model.save(OUTPUT_URL+"AlphabetSoupCharity.h5")